{% for author in site.data.authors %}
{% if author.name contains page.author %}
<div class="header-page-title" style="background-image: url({{author.cover_pic}})">
	<div class="box-skew-left"></div>
	<div class="container">
		<div class="page-title-box">
			<div class="author-slider-item"  alt='{{author.name}}'/>
				<h1 class="heading-big"><a href="/authors/{{author.name | downcase | replace:' ','_'}}">{{author.name}}</a> </h1>
				<ul class="author-social list-inline">
				  {% if author.facebook_url %}
				   <li class="list-inline-item"><a href="{{author.facebook_url}}"><i class="fab fa-facebook"></i></a></li>
				  {% endif %}
				  {% if author.twitter_url %}
				   <li class="list-inline-item"><a href="{{author.twitter_url}}"><i class="fab fa-twitter"></i></a></li>
				  {% endif %}
				  {% if author.behance_url %}
				   <li class="list-inline-item"><a href="{{author.behance_url}}"><i class="fab fa-behance"></i></a></li>
				  {% endif %}
				</ul>
					<p>{{author.bio}}</p>
				</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<!-- Start Blog  Area -->
<div class="blog-area">
{% for posts in site.posts limit: "30" %}
{% if posts.author contains page.author %}
{% assign item = forloop.index | modulo: 2 %}
<div class="blog-style" style="background-image: url({{posts.post_image}})">
   <div class="{% if item == 0 %} box-skew-left {% else %} box-skew-right {% endif %}"></div>
   <div class="container">
      <div class="blog-content wow slideInLeft {% if item != 0 %} blog-right {% endif %}" data-wow-duration=".4s">
         <ul class="blog-date list-inline">
            <li class="list-inline-item">{{posts.date | date_to_long_string }}</li>
         </ul>
         <h2 class="heading-2"><a href="{{posts.url}}">{{posts.title}}</a></h2>
         <p>{{posts.content | strip_html | truncatewords: "30" }}</p>
         <a href="{{posts.url}}" class="blog-read-more">Read More <i class="fas fa-angle-right"></i></a>
      </div>
   </div>
</div>
{% endif %}
{% endfor %}
</div>
<!-- End Blog Area -->
