<!-- Start Footer Area -->
<footer class="footer-area bg-color2 ">
   <div class="footer-wrapper tsection-spacing  text-center">
      <div class="container">
         <ul class="footer-social list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i> Dribbble</a>
            </li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i> Facebook</a>
            </li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            </li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i> Pinterest</a>
            </li>
         </ul>
         <form class="footer-search-form" action="#">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Search" required=""> <span class="input-group-btn">
               <button class="btn btn-primary" type="submit"><i class="fas fa-arrow-right"></i></button>
               </span>
            </div>
         </form>
         <p class="copyright-text">&copy;Copyright - 2019 arnica - Designed by <a href="https://themeix.com">Themeix</a>
         </p>
      </div>
   </div>
   <a href="#" class="home-top "><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->