<!-- Start Header Area -->
<header class="header-area">
   <div class="header-nav  {% if site.dark_header == true %}header-nav-dark  {% endif %}  {% if page.dark_header == true %}header-nav-dark {% else %} header-nav-white{% endif %}">
      <div class="container">
         <div class="row">
            <div class="col-2">
               <a class="header-logo" href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}"></a>
            </div>
            <div class="col-10">
              {% include navigation.html %}
            </div>
         </div>
      </div>
   </div>
</header>
 
<!-- End Header Area -->