{% if page.url == "/index.html" %}
<div class="slider-wrapper"> 
<div class="slider-carousel owl-carousel">
{% for posts in site.posts %}
{% if posts.featured == true %}
<div class="header-banner" style="background-image: url({{posts.post_image}})">
   <div class="box-skew-left"></div>
   <div class="container">
      <div class="slider-box">
            <div class="slider-item">
               <a href="/tag/{{posts.tags[0]}}" class="btn-style1 ">{{posts.tags[0] | capitalize}}</a>
               <h1 class="heading-big"><a href="{{posts.url}}">{{posts.title | truncatewords: "8"}}</a></h1>
               <ul class="slider-date list-inline">
                  <li class="list-inline-item">{{posts.date | date_to_long_string}}</li>
                  <li class="list-inline-item">
                         {% assign words = posts.content | number_of_words %}
                         {{ words | divided_by:180 }} Minutes Read 
                  </li>
               </ul>
            </div>
         </div>
      </div>
    </div>
   {% endif %}
  {% endfor %}
  </div>
</div>
{% endif %}