---
layout: default
---
<!-- Start Single Blog  Area -->
<div class="single-blog-area section-spacing">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-10">
            <div class="single-content-wrapper">
            	{% if page.post_image %}
               <figure class="figure">
                  <img src="{{page.post_image}}"  alt="{{page.title}}">
                  <figcaption class="figure-caption text-center">{{page.title}}</figcaption>
               </figure>
               {% endif %}
               <h6>{{page.title}}</h6>
               <div class="post-content">
               	{{page.content}}
               </div>
               <ul class="single-tag list-inline">
               	{% for tags in page.tags%}
                  <li class="list-inline-item"><a class="vbg-color5" href="/tag/{{tags}}">{{tags}}</a></li>
                  {% endfor %}
               </ul>
              <div class="social-share">
                {% include social_share.html %}
              </div>
              {% for author in site.data.authors %}
               {% if page.author == author.name %}
               <div class="single-admin bg-color2 ">
                {% if author.cover_pic%}
                  <div class="admin-avatar" style="background-image: url({{author.cover_pic}})">
                     <div class="top"></div>
                     <div class="bottom"></div>
                     <div class="border"></div>
                  </div>
                  {% endif %}
                  <div class="admin-comment">
                     <h4 class="heading-4"><a href="/authors/{{author.name | downcase | replace:' ','_' }}">{{author.name}}</a></h4>
                     <h6 class="heading-6">{{author.designation}}</h6>
                     <p>{{author.bio}}</p>
                     <ul class="admin-social list-inline">
                       {% if author.facebook_url %}
                        <li class="list-inline-item"><a href="{{author.facebook_url}}">Facebook </a></li>
                       {% endif %}
                       {% if author.twitter_url %}
                        <li class="list-inline-item"><a href="{{author.twitter_url}}">Twitter  </a></li>
                       {% endif %}
                       {% if author.behance_url %}
                        <li class="list-inline-item"><a href="{{author.behance_url}}">Behance </a></li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
               {% endif %}
              {% endfor %}
              <div class="post-pagination">
                {% include post_pagination.html %}
              </div>
               <div class="comment-reply-section mb-5">
                {% if page.comments %}
                 {% include disqus_comment.html %}
                {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Single Blog Area -->

