---
layout: default
---
<!-- Start Blog  Area -->
<div class="blog-area">
{% for posts in site.posts limit: "30" %}
{% if posts.tags contains page.tag %}
{% assign item = forloop.index | modulo: 2 %}
<div class="blog-style" style="background-image: url({{posts.post_image}})">
   <div class="{% if item == 0 %} box-skew-left {% else %} box-skew-right {% endif %}"></div>
   <div class="container">
      <div class="blog-content wow slideInLeft {% if item != 0 %} blog-right {% endif %}" data-wow-duration="1s">
         <ul class="blog-date list-inline">
            <li class="list-inline-item">{{posts.date | date_to_long_string }}</li>
         </ul>
         <h2 class="heading-2"><a href="{{posts.url}}">{{posts.title}}</a></h2>
         <a href="{{posts.url}}" class="blog-read-more">Read More <i class="fas fa-angle-right"></i></a>
      </div>
   </div>
</div>
{% endif %}
{% endfor %}
</div>
<!-- End Blog Area -->
